@import "./variables";

.Aws {
  height: 115px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  width: 85px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: $gray-main;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
.aws-text {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

.dropImg {
  height: 75px;
  width: 75px;
  border-radius: 3px;
}
@media (min-width:1000px){
  .Aws{
    height: 215px;
  width: 200px;
  }
  .dropImg{
    height: 190px;
    width: 190px;
  }
}
