@import "./variables";

.channel-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;

  .channel-header {
    border-radius: 6px;
    position: relative;
    width: 100vw;
    background-color: $gray-main;
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    margin-top: -30px;
    align-items: center;
    z-index: 1;

    @media (max-width: 500px) {
      font-size: 18px;
      height: auto;
      flex-direction: column;
      align-items: center;
      justify-content: none;
      border-radius: 0px;
      width: 100%;
    }

    .channel-info {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      font-family: $main-font;
      position: relative;
      height: 90%;
      border: solid slategrey;
      background-color: white;
      width: 28%;
      border-radius: 6px;
      box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
      border: 1px solid rgb(206, 206, 206);
      margin-right: 40px;

      @media (max-width: 500px) {
        width: 85%;
        height: 240px;
        margin-right: 0px;
        margin-top: 10px;
      }

      .channel-title {
        position: relative;
        font-size: 30px;
        margin-bottom: 10px;
        font-weight: bolder;

        @media (max-width: 500px) {
          font-size: 18px;
          margin-bottom: 2px;
        }
      }

      .channel-rating {
        margin-bottom: 20px;

        @media (max-width: 500px) {
          margin-bottom: 2px;
        }
      }

      .channel-description {
        padding: 5px 40px 0px 40px;
        height: 50%;
        margin-bottom: 25px;

        @media (max-width: 500px) {
          font-size: 12px;
        }
      }
    }

    img {
      height: 400px;
      width: auto;
      margin-right: 20px;

      @media (max-width: 500px) {
        margin-right: 0px;
        height: auto;
        width: 100%;
      }
    }
  }

  .video-card {
    height: 280px;
    width: 85vw;
    border-bottom: solid lightgray;
    margin-bottom: 50px;
    font-family: $main-font;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;

    @media (max-width: 500px) {
      width: 95vw;
      height: 400px;
      flex-direction: column;
    }

    .video-play {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      .fa-youtube {
        position: absolute;
        font-size: 50px;
        color: red;
        cursor: pointer;

        &:hover {
          color: lighten($red-main, $amount: 6);
        }
      }

      img {
        border-radius: 6px;
        height: 250px;
        width: auto;
        cursor: pointer;

        @media (max-width: 500px) {
          height: 200px;
        }
      }
    }

    .video-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-evenly;
      height: 100%;
      width: 85%;
      padding-left: 40px;

      @media (max-width: 500px) {
        padding-left: 0;
        margin-top: 5px;
      }

      h2 {
        margin: 0 auto;
        font-weight: bolder;

        @media (max-width: 500px) {
          font-size: 19px;
        }
      }

      h4 {
        align-content: left;

        @media (max-width: 500px) {
          font-size: 18px;
        }
      }
    }
  }
}

.video-close {
  position: fixed;
  right: 90px;
  color: $red-main;
  font-size: 25px;
  font-family: $main-font;
  z-index: 40;
  cursor: pointer;
  font-weight: bolder;

  @media (max-width: 500px) {
    font-size: 18px;
    top: 220px;
    right: 55px;
  }

  &:hover {
    color: lighten($red-main, $amount: 4);
  }
}

.ui {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;

  iframe {
    position: fixed;
    margin-top: 250px;
    height: 70%;
    width: 70%;
    transform: translateX(-50%, -50%);
    box-shadow: 0px 0px 80px 500px rgba(31, 31, 31, 0.8);

    @media (max-width: 500px) {
      height: 200px;
      width: auto;
      box-shadow: 0px 0px 80px 2000px rgba(31, 31, 31, 0.8);
    }
  }
}

.review-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: $main-font;
  position: absolute;
  height: 400px;
  right: 2%;
  width: 35%;

  @media (max-width: 500px) {
    position: relative;
    width: 95vw;
    right: initial;
  }

  .review-card {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: white;
    height: 150px;
    width: 90%;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
    border: 1px solid rgb(206, 206, 206);
    padding: 6px;
    margin-top: 20px;

    .review-title {
      font-weight: bolder;
      font-size: 20px;

      @media (max-width: 500px) {
        font-size: 15px;
      }
    }

    .review-description {

      @media (max-width: 500px) {
        font-size: 10px;
      }
    }
  }

  .paginate-reviews {
    position: relative;
    z-index: 4;
    margin-top: 10px;
    display: flex;
    align-items: center;


    @media (max-width: 500px) {
      right: initial;
      width: auto;
    }

    .pagination {
      position: relative;

      @media (max-width: 500px) {
        position: relative;
        width: auto;
      }
    }
  }
}

.single-review {
  button {
    font-family: $main-font;
    font-size: 30px;
    color: white;
    border: none;
    outline: none;
    height: 50px;
    width: 400px;  
    background-color: $red-main;
    margin-bottom: 30px;
    border-radius: 10px;

    @media (max-width: 500px) {
      font-size: 25px;
      width: 200px;
      border: solid 2px lightgray;
      border-radius: 10px;
      margin-bottom: 30px;
    }

    &:hover {
      background-color: rgb(243, 243, 243);
      color: slategray;
      border: lightgray solid 1px;
    }
  }
}

.spinner {
  min-height: calc(100vh - 247px);
}
