@import "./variables";
.main-home {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 550px;
    background: url(homelrge.jpg) center top;

    @media (max-width: 500px) {
      background: url(simplec.jpg) center center;
      background-size: 450px 300px;
      height: 250px;
    }
    .home-links {
      position: absolute;
      top: 1px;
      right: 60px;
      text-decoration: black;
      height: 100px;
      width: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;

      @media (max-width: 500px) {
        top: -5px;
        justify-content: space-between;
        width: 90vw;
      }

      li {
        margin-bottom: 15px;
        margin-right: 30px;
      }
      .home-link {
        color: black;
        font-size: 20px;
        font-weight: bolder;
        font-family: $main-font;
      }
    }
    h1 {
      font-size: 50px;
      margin-top: 25px;
      text-decoration: none;
      font-family: "Kanit", sans-serif;
      color: $red-main;

      @media (max-width: 500px) {
        font-size: 30px;
      }
    }

    .home-logo {
      position: absolute;
      top: 10px;
      left: 10px;
      margin: 0 auto;
      height: 100px;
      width: 100px;

      @media (max-width: 500px) {
        display: none;
      }
    }

    .home-searchbar {
      position: relative;
      height: 425px;
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: row;

      @media (max-width: 500px) {
        height: 150px;
      }

      .search-input {
        @include searchInput;
        width: 80%;
        height: 60px;
        font-size: 30px;
        border-radius: 10px 0px 0px 10px;
        border: rgb(185, 185, 185) solid 1px;
        // background-color: transparent;

        @media (max-width: 500px) {
          padding: 3px 5px 4px 5px;
          width: 50%;
        }
      }
      .search-btn {
        @include searchButton;
        padding: 13.8px 20px;
        font-size: 31px;
        border: lightgray solid 1px;
        border-radius: 0px 10px 10px 0px;
        background-color: $red-main;
        color: white;
      }
      .phone-search {
        display: none;
      }
    }
  }
  .recentActivity {
    width: 1100px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
    a {
      color: transparent;
    }
    h1 {
      margin: 20px 0;
      font-size: 40px;
      font-family: $main-font;

      @media (max-width: 500px) {
        font-size: 30px;
      }
    }
    .recent-activity-card {
      width: 325px;
      margin: 25px 15px;
      border-radius: 5px;
      border: 1px solid $gray-main;
      padding: 10px;
      img {
        margin-top: 10px;
        height: 100px;
        width: 100px;
        border-radius: 10px;
      }
      h1 {
        color: black;
        border-bottom: 1px solid $gray-main;
        padding-bottom: 5px;
        font-family: $main-font;
      }
      h2 {
        color: black;
        font-size: 25px;
        font-family: $main-font;
      }
      h3 {
        color: black;
        font-weight: bold;
        font-size: 30px;
        font-family: $main-font;
      }
      .home-stars-holder {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .random-channel-holder {
    border-top: 1px solid $gray-main;
    border-bottom: 1px solid $gray-main;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    font-family: "Kanit", sans-serif;
    width: 90vw;
    height: 200px;

    a {
      display: flex;
      flex-direction: row-reverse;
      position: relative;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      height: 175px;
      width: 257px;
      margin: 0 5px 0 5px;
      color: transparent;
    }

    .random-channel-card {
      background-color: transparent;
      margin-top: 175px;
      width: 100%;
      height: 175px;
      transform: translate(-50%, -50%);
      transform-style: preserve-3d;
      perspective: 600px;
      transition: 0.5s;

      &:hover .card-front {
        transform: rotateX(-180deg);
      }

      &:hover .card-back {
        transform: rotateX(0deg);
      }

      .card-front {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        border-radius: 6px;
        border: 1px solid rgb(159, 166, 173);
        background-color: $gray-main;
        backface-visibility: hidden;
        transform: rotateX(0deg);
        transition: 0.5s;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 130px;
        contain: content;
        overflow: hidden;
      }

      .card-back {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        background-color: $red-main;
        border: 1px solid rgb(151, 159, 167);
        border-radius: 6px;
        backface-visibility: hidden;
        transform: rotateX(180deg);
        transition: 0.5s;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 130px;
      }

      h1 {
        color: white;
        font-size: 35px;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Kanit", sans-serif;
      }

      img {
        height: 100%;
        width: 100%;
        overflow: inherit;
        box-shadow: inset 2px 2px 2px 2px $gray-main;
      }
    }

    .phone-card {
      display: none;
    }
  }

  @media (max-width: 1000px) {
    .recentActivity {
      width: 400px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-around;
      align-items: center;
      align-content: stretch;
      margin-bottom: 25px;
    }

    .random-channel-holder {
      border-top: 1px solid $gray-main;
      border-bottom: 1px solid $gray-main;
      display: flex;
      flex-direction: row-reverse;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      align-items: center;
      width: 90vw;
      height: 250px;

      a {
        display: flex;
        flex-direction: column-reverse;
        // flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        height: 120px;
        width: 150px;
        margin: 5px 5px;
      }

      .random-channel-card {
        display: none;
      }

      .phone-card {
        background-color: $gray-main;
        display: flex;
        flex-direction: column-reverse;
        // flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        box-shadow: inset 1px 1px 1px 1px $gray-main;
        border-radius: 6px;
        contain: content;
      }

      h2 {
        color: white;
        font-size: 20px;
        text-decoration: none;
        font-family: "Kanit", sans-serif;
        position: absolute;
        font-weight: lighter;
        z-index: 50;
        background: linear-gradient(rgba(31, 31, 31, 0.6), rgba(31, 31, 31, 0.6));
        // box-shadow: 0px 0px 80px 200px rgba(31, 31, 31, 0.5);
        border: transparent;
        outline: none;
        height: 110%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      img {
        width: 100%;
        height: 100%;
        // border-radius: 50%;
        position: relative;
        // top: 15px;
        // left: 30px;
        // box-shadow: inset 2px 2px 2px 2px $gray-main;
      }
    }

    header {
      .home-logo {
        height: 70px;
        width: 70px;
      }

      h1 {
        font-size: 25px;
      }

      .home-links {
        right: 0;
        .home-link {
          font-size: 15px;
        }
      }
    }
  }
}
.RA-text {
  border-bottom: 1px solid $red-main;
}
.home-text {
  margin: 20px 0;
  font-size: 40px;

  @media (max-width: 500px) {
    font-size: 30px;
  }
}

.spinner {
  min-height: calc(100vh - 110px);
}
