@import "./variables";

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  min-height: calc(100vh - 247px);
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $red-main;
    margin: 1em 0;
    padding: 0;
    width: 300px;
  }
}
.welcome-login {
  display: flex;
  font-size: 70px;
  font-family: $main-font;
  color: $red-main;
  margin-bottom: 20px;
}
.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
}

.login-input input {
  background-color: rgb(230, 230, 230);
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  font-family: $main-font;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}
.login-btn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  button {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-width: 0;
    font-weight: bolder;
    font-family: $main-font;
    color: white;
    border-radius: 6px;
    background-color: $red-main;
    border-radius: 10px;
    outline: none;
    &:hover {
      color: slategray;
      border: lightgray solid 1px;
      background-color: rgb(243, 243, 243);
    }
  }
}
