@import "./variables";

.nav-main {
  position: relative;
  width: 100vw;
  height: 10vh;
  top: 0px;
  background: #b70202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;

  .nav-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    width: 95%;
    height: 100%;

    @media (max-width: 500px) {
      width: 95%;
      padding-left: 30px;
    }

    .logo {
      height: 60px;
    }

    .dropdown {
      position: relative;
      display: flex;
      flex-direction: column;

      button {
        color: white;
        font-size: 30px;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border: none;
        outline: none;

        &:hover{
          color: rgb(209, 209, 209);
        }

        &:active{
          top: 1px;
        }

        @media (max-width: 500px) {
          font-size: 25px;
        }
      }

      #flyoutMenu {
        width: 20vw;
        height: 100vh;
        background-color: rgb(233, 233, 233);
        position: fixed;
        border-left: slategray;
        font-family: $main-font;
        font-weight: bolder;
        top: 0;
        right: 0;
        box-shadow: -5px 0px 10px 0px #5f5f5f;
        transition: transform .4s
                    cubic-bezier(0, .52, 0, 1);
        z-index: 1000;

        @media (max-width: 500px) {
          width: 50vw;
        }
      }

      #flyoutMenu.hide {
        transform: translate3d(25vw, 0, 0);

        @media (max-width: 500px) {
          transform: translate3d(55vw, 0, 0);
        }
      }
       
      #flyoutMenu.show {
        transform: translate3d(0vw, 0, 0);
        overflow: hidden;
      }

      .dropdown-box {
        display: flex;
        flex-direction: column;
        position: absolute;
        list-style: none;
        width: 100%;

        @media (max-width: 500px) {
          right: 40px;
          width: 120px;
        }
    
        li {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          font-family: $main-font;
          align-items: center;
          font-size: 50px;
          
          .logout {
            cursor: pointer;
          }
        }

        li:hover {
          background-color: #f3f3f3;
        }

        .dropdown-btn {
          color: black;
          text-decoration: none;
          font-size: 30px;
          height: 100px;
          width: 80%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-bottom: solid 2px $red-main;
        }
      }
    }

    .search-bar {
      display: flex;
      justify-content: center;

      .search-input {
        @include searchInput;
  
        @media (max-width: 500px) {
          width: 150px;
        }
      }
  
      .phone-search {
        display: none;
  
        @media (max-width: 500px) {
          padding: 7px 5px;
          display: inline-block;
          box-shadow: inset 0px 1px 0px 0px #f2f2f2;
          background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
          background-color: #e0e0e0;
          border-radius: 0px 2px 2px 0px;
          border: 1px solid darkgray;
        }
      }
  
      .search-btn {
       @include searchButton;
  
        @media (max-width: 500px) {
          display: none;
        }
      }
      .search-btn:hover {
        color: black;
      }
      .search-btn:active {
        position: relative;
        top: 1px;
      }
    }

  }
}
 