@import "./variables";

.nav-main {
  position: relative;
  width: 100vw;
  height: 10vh;
  //   left: 0px;
  top: 0px;
  background: #b70202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .nav-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    width: 90%;
    height: 100%;

    div {
      color: white;
      font-family: $main-font;
      font-weight: bolder;
      font-size: 20px;
    }

    .hamburger {
      color: white;
      font-size: 30px;
      cursor: pointer;
    }

    .search-input {
      font-family: $main-font;
      font-size: 16px;
      border-radius: 2px 0px 0px 2px;
      border: 1px solid darkgray;
      padding: 3px 50px 4px 5px;
      display: inline-block;
      box-shadow: inset 0px 1px 0px 0px #ffffff;
    }

    .search-btn {
      box-shadow: inset 0px 1px 0px 0px #f2f2f2;
      background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
      background-color: #e0e0e0;
      border-radius: 0px 2px 2px 0px;
      border: 1px solid darkgray;
      display: inline-block;
      cursor: pointer;
      color: #666666;
      font-family: $main-font;
      font-size: 14px;
      font-weight: bold;
      padding: 4.5px 20px;
      text-decoration: none;
    }
    .search-btn:hover {
      background: linear-gradient(to bottom, #c7c7c7 5%, #e0e0e0 100%);
      background-color: #e0e0e0;
    }
    .search-btn:active {
      position: relative;
      top: 1px;
    }
  }
}
