@import "./variables";
.profile-main {
  min-height: calc(100vh - 235px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  h1 {
    font-size: 50px;
    font-family: $main-font;
    margin: 0 5px 20px 5px;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid $red-main;
    margin: 2em 0;
    padding: 0;
    width: 300px;
  }
}

.profile-info {
  position: relative;
  height: 250px;
  width: 375px;
  font-family: $main-font;
  // border: 1px solid $gray-main;
  // border-radius: 5px;
  // box-shadow: 0px 2px 2px #00000040;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
  input {
    background-color: $gray-main;
    margin-bottom: 10px;
    padding-left: 7px;
    border-width: 0px;
    border-radius: 3px;
    width: 300px;
    font-family: $main-font;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    outline: none;
  }
  button {
    margin-top: 10px;
    width: 300px;
    height: 30px;
    border-width: 0;
    font-family: $main-font;
    background-color: $red-main;
    font-weight: bolder;
    border-radius: 3px;
    box-shadow: 0px 2px 2px $gray-main;
    outline: none;
    &:hover {
      color: $gray-main;
    }
  }
  h5 {
    margin-bottom: 10px;
    border-width: 0px;
    border-radius: 3px;
    width: 300px;
    text-align: center;
    font-family: $main-font;
    font-weight: bolder;
    height: 35px;
    border: 1px solid $gray-main;
    box-shadow: 0px 1px 1px #00000040;
    display: flex;
    align-items: center;
    padding-left: 7px;
    font-size: 13px;
  }
}
.pro-name-holder {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 170px;
  height: 100px;
  .profile-name {
    width: 150px;
  }
}
.pro-pic-holder {
  height: 170px;
  width: 100px;
  .profile-pic {
    position: absolute;
    top: 0;
    left: 45px;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 0px 1px 1px #00000040;
  }
}
.aws-holder {
  position: absolute;
  top: 0;
  left: 45px;
}
.profile-pic-input {
  display: none;
}
.pro-name-input-holder {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 170px;
  height: 100px;
  .pro-name-input {
    width: 150px;
  }
}
.mappedReviews {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: $main-font;
  font-weight: bold;
  margin-bottom: 25px;
  h1 {
    font-size: 30px;
  }
  .pro-review-holder {
    width: 325px;
    margin: 5px 5px;
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px #00000040;
    .profile-stars{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (min-width: 1000px) {
  .profile-main {
    h1 {
      font-size: 75px;
    }
    hr {
      width: 800px;
    }
    .profile-info {
      width: 800px;
      height: 225px;
      .profile-pic {
        width: 200px;
        height: 200px;
      }
      .pro-name-holder {
        position: absolute;
        top: 15px;
        right: 40%;
        width: 200px;
        height: 100px;
        .profile-name {
          width: 200px;
        }
      }
      .pro-info-holder {
        position: absolute;
        top: 15px;
        right: 0px;
        width: 300px;
        height: 100px;
      }
    }
  }
  .pro-name-input-holder {
    position: absolute;
    top: 15px;
    right: 40%;
    width: 200px;
    height: 100px;
    .pro-name-input {
      width: 200px;
    }
  }
  .pro-info-input-holder {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 300px;
    height: 100px;
  }
  .save-btn-holder {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mappedReviews {
    width: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
    .pro-review-holder {
      padding: 5px;
      width: 325px;
      margin: 5px 5px;
      border-radius: 3px;
      box-shadow: 0px 0px 1px 1px $gray-main;
    }
  }
}
