@import "./variables";
.addReview-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 247px);
  .AR-stars {
    height: 40px;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  input {
    width: 300px;
    height: 45px;
    margin-bottom: 25px;
    font-size: 30px;
    font-family: $main-font;
    border-radius: 2px 0px 0px 2px;
    border: 1px solid darkgray;
    padding: 3px 50px 4px 5px;
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    outline: none;
  }
  .AR-genre-holder {
    h1 {
      font-size: 20px;
      font-family: $main-font;
    }
    select {
      font-size: 16px;
      font-family: $main-font;
      background-color: $gray-main;
      margin-left: 10px;
      option {
        font-size: 12px;
        font-family: $main-font;
        background-color: $gray-main;
      }
    }
  }
  .textarea-holders {
    textarea {
      height: 250px;
      width: 355px;
      font-family: $main-font;
    }
  }
  .AR-submit-btn-holder {
    button {
      margin-top: 10px;
      width: 300px;
      height: 30px;
      border-width: 0;
      font-weight: bolder;
      font-family: $main-font;
      color: white;
      border-radius: 6px;
      background-color: $red-main;
      margin-bottom: 30px;
      border-radius: 10px;
      outline: none;
      &:hover {
        color: slategray;
        border: lightgray solid 1px;
        background-color: rgb(243, 243, 243);
      }
    }
  }
  .AR-reviews-holder {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    position: relative;
    font-family: $main-font;
    width: 90vw;
    margin-bottom: 10px;
    .AR-review-card {
      position: relative;
      font-family: $main-font;
      padding: 5px;
      width: 325px;
      margin: 5px 5px;
      border-radius: 3px;
      box-shadow: 0px 0px 1px 1px $gray-main;
      .AR-review-user {
        position: absolute;
        font-family: $main-font;
        top: 5px;
        left: 10px;
      }
      .AR-review-rating {
        position: absolute;
        top: 5px;
        right: 10px;
      }
      .AR-review-title {
        margin-top: 25px;
        font-weight: bolder;
        font-family: $main-font;
      }
      .AR-review {
        margin-top: 5px;
        font-family: $main-font;
      }
    }
  }
  .AR-others {
    border-bottom: 1px solid $gray-main;
    border-top: 1px solid $gray-main;
    margin: 10px;
  }
}
