.search-main {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 247px);

  .search-card {
    height: 200px;
    width: 85vw;
    border-bottom: solid lightgray;
    margin-bottom: 20px;
    font-family: $main-font;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .search-img-body {
      position: relative;
      cursor: pointer;

      .search-img {
        height: 150px;
        width: 150px;
        border-radius: 6px;

        @media (max-width: 500px) {
          height: 90px;
          width: 90px;
        }
      }
    }
  }

  .search-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    width: 85%;
    padding-left: 40px;

    @media (max-width: 500px) {
      padding-left: 20px;
    }

    .search-title {
      font-size: 30px;
      font-weight: bolder;
      cursor: pointer;

      @media (max-width: 500px) {
        font-size: 18px;
      }
    }

    .react-stars {
      margin-top: -20px;
      outline: none;
      size: 20;
      cursor: pointer;

      @media (max-width: 500px) {
        size: 15;
        margin-top: -10px;
      }
    }

    .search-description {
      text-align: left;
      cursor: pointer;

      @media (max-width: 500px) {
        font-size: 14px;
      }
    }
  }
}

.page-link {
  cursor: pointer;
}

.pagination > li > a:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a:hover {
  background-color: $red-main;
  border: solid 1px $red-main;
}

.pagination > li > a {
  color: black;
}

.pagination > .page-item.active > .page-link {
  z-index: 1;
  color: #fff;
  background-color: $red-main; //your color
  border-color: $red-main; //your color

  &:hover{
    filter: brightness(1.2);
  }
}
