$red-main: rgba(183, 2, 2, 1);
$gray-main: #d0d0d0;
$main-font: "Noto Sans", sans-serif;

@mixin searchInput {
  font-family: $main-font;
  font-size: 16px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 50px 4px 5px;
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  outline: none;
}
@mixin searchButton {
  box-shadow: inset 0px 1px 0px 0px #f2f2f2;
  background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
  background-color: #e0e0e0;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid darkgray;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: $main-font;
  font-size: 14px;
  font-weight: bold;
  padding: 4.5px 20px;
  text-decoration: none;
  outline: none;
}
