.channel-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.channel-main .channel-header {
  border-radius: 6px;
  position: relative;
  width: 100vw;
  background-color: #d0d0d0;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-top: -30px;
  align-items: center;
  z-index: 1;
}

@media (max-width: 500px) {
  .channel-main .channel-header {
    font-size: 18px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    border-radius: 0px;
    width: 100%;
  }
}

.channel-main .channel-header .channel-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  position: relative;
  height: 90%;
  border: solid slategrey;
  background-color: white;
  width: 28%;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
  border: 1px solid #cecece;
  margin-right: 40px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info {
    width: 85%;
    height: 240px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.channel-main .channel-header .channel-info .channel-title {
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-title {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.channel-main .channel-header .channel-info .channel-rating {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-rating {
    margin-bottom: 2px;
  }
}

.channel-main .channel-header .channel-info .channel-description {
  padding: 5px 40px 0px 40px;
  height: 50%;
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-description {
    font-size: 12px;
  }
}

.channel-main .channel-header img {
  height: 400px;
  width: auto;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .channel-main .channel-header img {
    margin-right: 0px;
    height: auto;
    width: 100%;
  }
}

.channel-main .video-card {
  height: 280px;
  width: 85vw;
  border-bottom: solid lightgray;
  margin-bottom: 50px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

@media (max-width: 500px) {
  .channel-main .video-card {
    width: 95vw;
    height: 400px;
    flex-direction: column;
  }
}

.channel-main .video-card .video-play {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-main .video-card .video-play .fa-youtube {
  position: absolute;
  font-size: 50px;
  color: red;
  cursor: pointer;
}

.channel-main .video-card .video-play .fa-youtube:hover {
  color: #d50202;
}

.channel-main .video-card .video-play img {
  border-radius: 6px;
  height: 250px;
  width: auto;
  cursor: pointer;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-play img {
    height: 200px;
  }
}

.channel-main .video-card .video-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 85%;
  padding-left: 40px;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info {
    padding-left: 0;
    margin-top: 5px;
  }
}

.channel-main .video-card .video-info h2 {
  margin: 0 auto;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info h2 {
    font-size: 19px;
  }
}

.channel-main .video-card .video-info h4 {
  align-content: left;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info h4 {
    font-size: 18px;
  }
}

.video-close {
  position: fixed;
  right: 90px;
  color: #b70202;
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
  z-index: 40;
  cursor: pointer;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .video-close {
    font-size: 18px;
    top: 220px;
    right: 55px;
  }
}

.video-close:hover {
  color: #cb0202;
}

.ui {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui iframe {
  position: fixed;
  margin-top: 250px;
  height: 70%;
  width: 70%;
  transform: translateX(-50%, -50%);
  box-shadow: 0px 0px 80px 500px rgba(31, 31, 31, 0.8);
}

@media (max-width: 500px) {
  .ui iframe {
    height: 200px;
    width: auto;
    box-shadow: 0px 0px 80px 2000px rgba(31, 31, 31, 0.8);
  }
}

.review-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  height: 400px;
  right: 2%;
  width: 35%;
}

@media (max-width: 500px) {
  .review-cards {
    position: relative;
    width: 95vw;
    right: initial;
  }
}

.review-cards .review-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  height: 150px;
  width: 90%;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
  border: 1px solid #cecece;
  padding: 6px;
  margin-top: 20px;
}

.review-cards .review-card .review-title {
  font-weight: bolder;
  font-size: 20px;
}

@media (max-width: 500px) {
  .review-cards .review-card .review-title {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .review-cards .review-card .review-description {
    font-size: 10px;
  }
}

.review-cards .paginate-reviews {
  position: relative;
  z-index: 4;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .review-cards .paginate-reviews {
    right: initial;
    width: auto;
  }
}

.review-cards .paginate-reviews .pagination {
  position: relative;
}

@media (max-width: 500px) {
  .review-cards .paginate-reviews .pagination {
    position: relative;
    width: auto;
  }
}

.single-review button {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  color: white;
  border: none;
  outline: none;
  height: 50px;
  width: 400px;
  background-color: #b70202;
  margin-bottom: 30px;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .single-review button {
    font-size: 25px;
    width: 200px;
    border: solid 2px lightgray;
    border-radius: 10px;
    margin-bottom: 30px;
  }
}

.single-review button:hover {
  background-color: #f3f3f3;
  color: slategray;
  border: lightgray solid 1px;
}

.spinner {
  min-height: calc(100vh - 247px);
}

.main-home {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-home header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 550px;
  background: url(homelrge.jpg) center top;
}

@media (max-width: 500px) {
  .main-home header {
    background: url(simplec.jpg) center center;
    background-size: 450px 300px;
    height: 250px;
  }
}

.main-home header .home-links {
  position: absolute;
  top: 1px;
  right: 60px;
  text-decoration: black;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 500px) {
  .main-home header .home-links {
    top: -5px;
    justify-content: space-between;
    width: 90vw;
  }
}

.main-home header .home-links li {
  margin-bottom: 15px;
  margin-right: 30px;
}

.main-home header .home-links .home-link {
  color: black;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
}

.main-home header h1 {
  font-size: 50px;
  margin-top: 25px;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  color: #b70202;
}

@media (max-width: 500px) {
  .main-home header h1 {
    font-size: 30px;
  }
}

.main-home header .home-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

@media (max-width: 500px) {
  .main-home header .home-logo {
    display: none;
  }
}

.main-home header .home-searchbar {
  position: relative;
  height: 425px;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
}

@media (max-width: 500px) {
  .main-home header .home-searchbar {
    height: 150px;
  }
}

.main-home header .home-searchbar .search-input {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 150px 4px 5px;
  display: inline-block;
  outline: none;
  width: 80%;
  height: 60px;
  font-size: 30px;
  border-radius: 10px 0px 0px 10px;
  border: #b9b9b9 solid 1px;
}

@media (max-width: 500px) {
  .main-home header .home-searchbar .search-input {
    padding: 3px 5px 4px 5px;
    width: 50%;
  }
}

.main-home header .home-searchbar .search-btn {
  background-color: #e7e7e7;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid darkgray;
  display: inline-block;
  cursor: pointer;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  padding: 4.6px 20px;
  text-decoration: none;
  outline: none;
  padding: 13.8px 20px;
  font-size: 31px;
  border: lightgray solid 1px;
  border-radius: 0px 10px 10px 0px;
  background-color: #b70202;
  color: white;
}

.main-home header .home-searchbar .search-btn:hover {
  color: black;
}

.main-home header .home-searchbar .search-btn:active {
  position: relative;
  top: 1px;
}

.main-home header .home-searchbar .phone-search {
  display: none;
}

.main-home .recentActivity {
  width: 1100px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 25px;
}

.main-home .recentActivity a {
  color: transparent;
}

.main-home .recentActivity h1 {
  margin: 20px 0;
  font-size: 40px;
  font-family: "Noto Sans", sans-serif;
}

@media (max-width: 500px) {
  .main-home .recentActivity h1 {
    font-size: 30px;
  }
}

.main-home .recentActivity .recent-activity-card {
  width: 325px;
  margin: 25px 15px;
  border-radius: 5px;
  border: 1px solid #d0d0d0;
  padding: 10px;
}

.main-home .recentActivity .recent-activity-card img {
  margin-top: 10px;
  height: 100px;
  width: 100px;
  border-radius: 10px;
}

.main-home .recentActivity .recent-activity-card h1 {
  color: black;
  border-bottom: 1px solid #d0d0d0;
  padding-bottom: 5px;
  font-family: "Noto Sans", sans-serif;
}

.main-home .recentActivity .recent-activity-card h2 {
  color: black;
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
}

.main-home .recentActivity .recent-activity-card h3 {
  color: black;
  font-weight: bold;
  font-size: 30px;
  font-family: "Noto Sans", sans-serif;
}

.main-home .recentActivity .recent-activity-card .home-stars-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-home .random-channel-holder {
  border-top: 1px solid #d0d0d0;
  border-bottom: 1px solid #d0d0d0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  width: 90vw;
  height: 175px;
}

.main-home .random-channel-holder a {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 150px;
  width: 257px;
  margin: 0 5px 0 5px;
  color: transparent;
}

.main-home .random-channel-holder .random-channel-card {
  background-color: #d0d0d0;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
  box-shadow: inset 1px 1px 1px 1px #d0d0d0;
  border-radius: 5px;
}

.main-home .random-channel-holder .random-channel-card h2 {
  color: black;
  font-size: 15px;
  margin-left: 15px;
  font-family: "Noto Sans", sans-serif;
}

.main-home .random-channel-holder .random-channel-card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: inset 2px 2px 2px 2px #d0d0d0;
}

@media (max-width: 1000px) {
  .main-home .recentActivity {
    width: 400px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
  }
  .main-home .random-channel-holder {
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 90vw;
    height: 225px;
  }
  .main-home .random-channel-holder a {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    margin: 5px 5px;
  }
  .main-home .random-channel-holder .random-channel-card {
    background-color: #d0d0d0;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: inset 1px 1px 1px 1px #d0d0d0;
    border-radius: 5px;
  }
  .main-home .random-channel-holder .random-channel-card h2 {
    color: black;
    font-size: 13px;
    margin-left: 15px;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
  }
  .main-home .random-channel-holder .random-channel-card img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: inset 2px 2px 2px 2px #d0d0d0;
  }
  .main-home header .home-logo {
    height: 70px;
    width: 70px;
  }
  .main-home header h1 {
    font-size: 25px;
  }
  .main-home header .home-links {
    right: 0;
  }
  .main-home header .home-links .home-link {
    font-size: 15px;
  }
}

.RA-text {
  border-bottom: 1px solid #b70202;
}

.home-text {
  margin: 20px 0;
  font-size: 40px;
}

@media (max-width: 500px) {
  .home-text {
    font-size: 30px;
  }
}

.spinner {
  min-height: calc(100vh - 110px);
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  min-height: calc(100vh - 247px);
}

.main-login hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b70202;
  margin: 1em 0;
  padding: 0;
  width: 300px;
}

.welcome-login {
  display: flex;
  font-size: 70px;
  font-family: "Noto Sans", sans-serif;
  color: #b70202;
  margin-bottom: 20px;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
}

.login-input input {
  background-color: #e6e6e6;
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 6px;
  width: 300px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.login-btn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-btn button {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-width: 0;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
  color: white;
  border-radius: 6px;
  background-color: #b70202;
  border-radius: 10px;
  outline: none;
}

.login-btn button:hover {
  color: slategray;
  border: lightgray solid 1px;
  background-color: #f3f3f3;
}

.nav-main {
  position: relative;
  width: 100vw;
  height: 10vh;
  top: 0px;
  background: #b70202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.nav-main .nav-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  width: 95%;
  height: 100%;
}

@media (max-width: 500px) {
  .nav-main .nav-nav {
    width: 95%;
    padding-left: 30px;
  }
}

.nav-main .nav-nav .logo {
  height: 60px;
}

.nav-main .nav-nav .dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-main .nav-nav .dropdown button {
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav-main .nav-nav .dropdown button:hover {
  color: #d1d1d1;
}

.nav-main .nav-nav .dropdown button:active {
  top: 1px;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown button {
    font-size: 25px;
  }
}

.nav-main .nav-nav .dropdown #flyoutMenu {
  width: 20vw;
  height: 100vh;
  background-color: #e9e9e9;
  position: fixed;
  border-left: slategray;
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  top: 0;
  right: 0;
  box-shadow: -5px 0px 10px 0px #5f5f5f;
  transition: transform 0.4s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1000;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown #flyoutMenu {
    width: 50vw;
  }
}

.nav-main .nav-nav .dropdown #flyoutMenu.hide {
  transform: translate3d(25vw, 0, 0);
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown #flyoutMenu.hide {
    transform: translate3d(55vw, 0, 0);
  }
}

.nav-main .nav-nav .dropdown #flyoutMenu.show {
  transform: translate3d(0vw, 0, 0);
  overflow: hidden;
}

.nav-main .nav-nav .dropdown .dropdown-box {
  display: flex;
  flex-direction: column;
  position: absolute;
  list-style: none;
  width: 100%;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown .dropdown-box {
    right: 40px;
    width: 120px;
  }
}

.nav-main .nav-nav .dropdown .dropdown-box li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
  font-size: 50px;
}

.nav-main .nav-nav .dropdown .dropdown-box li .logout {
  cursor: pointer;
}

.nav-main .nav-nav .dropdown .dropdown-box li:hover {
  background-color: #f3f3f3;
}

.nav-main .nav-nav .dropdown .dropdown-box .dropdown-btn {
  color: black;
  text-decoration: none;
  font-size: 30px;
  height: 100px;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 2px #b70202;
}

.nav-main .nav-nav .search-bar {
  display: flex;
  justify-content: center;
}

.nav-main .nav-nav .search-bar .search-input {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 150px 4px 5px;
  display: inline-block;
  outline: none;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .search-bar .search-input {
    width: 150px;
  }
}

.nav-main .nav-nav .search-bar .phone-search {
  display: none;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .search-bar .phone-search {
    padding: 7px 5px;
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #f2f2f2;
    background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
    background-color: #e0e0e0;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid darkgray;
  }
}

.nav-main .nav-nav .search-bar .search-btn {
  background-color: #e7e7e7;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid darkgray;
  display: inline-block;
  cursor: pointer;
  color: gray;
  font-size: 20px;
  font-weight: bold;
  padding: 4.6px 20px;
  text-decoration: none;
  outline: none;
}

.nav-main .nav-nav .search-bar .search-btn:hover {
  color: black;
}

.nav-main .nav-nav .search-bar .search-btn:active {
  position: relative;
  top: 1px;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .search-bar .search-btn {
    display: none;
  }
}

.nav-main .nav-nav .search-bar .search-btn:hover {
  color: black;
}

.nav-main .nav-nav .search-bar .search-btn:active {
  position: relative;
  top: 1px;
}

.addReview-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 247px);
}

.addReview-main .AR-stars {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.addReview-main input {
  width: 300px;
  height: 45px;
  margin-bottom: 25px;
  font-size: 30px;
  font-family: "Noto Sans", sans-serif;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 50px 4px 5px;
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  outline: none;
}

.addReview-main .AR-genre-holder h1 {
  font-size: 20px;
  font-family: "Noto Sans", sans-serif;
}

.addReview-main .AR-genre-holder select {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  background-color: #d0d0d0;
  margin-left: 10px;
}

.addReview-main .AR-genre-holder select option {
  font-size: 12px;
  font-family: "Noto Sans", sans-serif;
  background-color: #d0d0d0;
}

.addReview-main .textarea-holders textarea {
  height: 250px;
  width: 355px;
  font-family: "Noto Sans", sans-serif;
}

.addReview-main .AR-submit-btn-holder button {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-width: 0;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
  color: white;
  border-radius: 6px;
  background-color: #b70202;
  margin-bottom: 30px;
  border-radius: 10px;
  outline: none;
}

.addReview-main .AR-submit-btn-holder button:hover {
  color: slategray;
  border: lightgray solid 1px;
  background-color: #f3f3f3;
}

.addReview-main .AR-reviews-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  width: 90vw;
  margin-bottom: 10px;
}

.addReview-main .AR-reviews-holder .AR-review-card {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  padding: 5px;
  width: 325px;
  margin: 5px 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-user {
  position: absolute;
  font-family: "Noto Sans", sans-serif;
  top: 5px;
  left: 10px;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-rating {
  position: absolute;
  top: 5px;
  right: 10px;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-title {
  margin-top: 25px;
  font-weight: bolder;
  font-family: "Noto Sans", sans-serif;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review {
  margin-top: 5px;
  font-family: "Noto Sans", sans-serif;
}

.addReview-main .AR-others {
  border-bottom: 1px solid #d0d0d0;
  border-top: 1px solid #d0d0d0;
  margin: 10px;
}

.profile-main {
  min-height: calc(100vh - 235px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-main h1 {
  font-size: 50px;
  font-family: "Noto Sans", sans-serif;
  margin: 0 5px 20px 5px;
}

.profile-main hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b70202;
  margin: 2em 0;
  padding: 0;
  width: 300px;
}

.profile-main .save-btn-holder {
  height: 100px;
}

.profile-main .pro-info-input-holder {
  margin-top: 15px;
}

.profile-info {
  position: relative;
  height: 250px;
  width: 375px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.profile-info input {
  background-color: #d0d0d0;
  margin-bottom: 10px;
  padding-left: 7px;
  border-width: 0px;
  border-radius: 3px;
  width: 300px;
  font-family: "Noto Sans", sans-serif;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.profile-info button {
  width: 300px;
  height: 30px;
  border-width: 0;
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  color: white;
  border-radius: 6px;
  background-color: #b70202;
  margin-top: 7px;
  margin-bottom: 5px;
  border-radius: 10px;
  outline: none;
}

.profile-info button:hover {
  color: slategray;
  border: lightgray solid 1px;
  background-color: #f3f3f3;
}

.profile-info h5 {
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bolder;
  height: 35px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 1px 1px #00000040;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 13px;
}

.pro-name-holder {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 170px;
  height: 100px;
}

.pro-name-holder .profile-name {
  width: 150px;
}

.pro-pic-holder {
  height: 170px;
  width: 100px;
}

.pro-pic-holder .profile-pic {
  position: absolute;
  top: 0;
  left: 45px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #00000040;
}

.aws-holder {
  position: absolute;
  top: 0;
  left: 45px;
}

.profile-pic-input {
  display: none;
}

.pro-name-input-holder {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 170px;
  height: 100px;
}

.pro-name-input-holder .pro-name-input {
  width: 150px;
}

.mappedReviews {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  margin-bottom: 25px;
}

.mappedReviews h1 {
  font-size: 30px;
}

.mappedReviews .pro-review-holder {
  width: 325px;
  margin: 5px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #00000040;
}

.mappedReviews .pro-review-holder .profile-stars {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1000px) {
  .profile-main h1 {
    font-size: 75px;
  }
  .profile-main hr {
    width: 800px;
  }
  .profile-main .profile-info {
    width: 800px;
    height: 225px;
  }
  .profile-main .profile-info .profile-pic {
    width: 200px;
    height: 200px;
  }
  .profile-main .profile-info .pro-name-holder {
    position: absolute;
    top: 15px;
    right: 40%;
    width: 200px;
    height: 100px;
  }
  .profile-main .profile-info .pro-name-holder .profile-name {
    width: 200px;
  }
  .profile-main .profile-info .pro-info-holder {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 300px;
    height: 100px;
  }
  .pro-name-input-holder {
    position: absolute;
    top: 15px;
    right: 40%;
    width: 200px;
    height: 100px;
  }
  .pro-name-input-holder .pro-name-input {
    width: 200px;
  }
  .pro-info-input-holder {
    position: absolute;
    top: 1px;
    right: 0px;
    width: 300px;
    height: 100px;
  }
  .save-btn-holder {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mappedReviews {
    width: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
  }
  .mappedReviews .pro-review-holder {
    padding: 5px;
    width: 325px;
    margin: 5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
  }
}

.search-main {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 247px);
}

.search-main .search-card {
  height: 200px;
  width: 85vw;
  border-bottom: solid lightgray;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.search-main .search-card .search-img-body {
  position: relative;
  cursor: pointer;
}

.search-main .search-card .search-img-body .search-img {
  height: 150px;
  width: 150px;
  border-radius: 6px;
}

@media (max-width: 500px) {
  .search-main .search-card .search-img-body .search-img {
    height: 90px;
    width: 90px;
  }
}

.search-main .search-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 85%;
  padding-left: 40px;
}

@media (max-width: 500px) {
  .search-main .search-info-container {
    padding-left: 20px;
  }
}

.search-main .search-info-container .search-title {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .search-title {
    font-size: 18px;
  }
}

.search-main .search-info-container .react-stars {
  margin-top: -20px;
  outline: none;
  size: 20;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .react-stars {
    size: 15;
    margin-top: -10px;
  }
}

.search-main .search-info-container .search-description {
  text-align: left;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .search-description {
    font-size: 14px;
  }
}

.page-link {
  cursor: pointer;
}

.pagination > li > a:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a:hover {
  background-color: #b70202;
  border: solid 1px #b70202;
}

.pagination > li > a {
  color: black;
}

.pagination > .page-item.active > .page-link {
  z-index: 1;
  color: #fff;
  background-color: #b70202;
  border-color: #b70202;
}

.pagination > .page-item.active > .page-link:hover {
  filter: brightness(1.2);
}

.footer-body {
  position: relative;
  width: 100vw;
  height: 125px;
  background-color: #b70202;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 3px;
}

.footer-body .fa-github {
  color: black;
}

.footer-body i {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.footer-body h6 {
  margin-top: 1px;
  margin-bottom: 15px;
  font-weight: lighter;
}

.check-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-link {
  position: absolute;
  bottom: 7px;
  right: 10px;
}

.Aws {
  height: 115px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  width: 85px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #d0d0d0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.aws-text {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

.dropImg {
  height: 75px;
  width: 75px;
  border-radius: 3px;
}

@media (min-width: 1000px) {
  .Aws {
    height: 215px;
    width: 200px;
  }
  .dropImg {
    height: 190px;
    width: 190px;
  }
}

.main-about {
  min-height: calc(100vh - 235px);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.main-about .about-title {
  font-size: 55px;
}

.main-about .about-body {
  width: 80%;
  font-size: 35px;
}

.main-about hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b70202;
  margin: 2em 0;
  padding: 0;
  width: 300px;
}

@media (min-width: 1000px) {
  .main-about hr {
    width: 900px;
  }
}

.main-about .about-img-holder {
  display: flex;
  flex-direction: row;
}

.main-about .about-img-holder .imgryan {
  object-fit: cover;
  margin: 5px;
  height: 130px;
  width: 100px;
  border-radius: 5px;
  background: url(ryanpic.png) center top;
  background-size: 125px 150px;
}

.main-about .about-img-holder .imgkeat {
  margin: 5px;
  height: 130px;
  width: 100px;
  border-radius: 5px;
  background: url(mypic.png) center bottom;
  background-size: 150px 150px;
}

.main-about .about-img-holder .imgcav {
  margin: 5px;
  height: 130px;
  width: 100px;
  border-radius: 5px;
  background: url(cavinpic.png) center;
  background-size: 150px 150px;
}

body {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */