.channel-main {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.channel-main .channel-header {
  border-radius: 6px;
  position: relative;
  width: 100vw;
  background-color: #d0d0d0;
  height: 400px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-top: -30px;
  align-items: center;
  z-index: 1;
}

@media (max-width: 500px) {
  .channel-main .channel-header {
    font-size: 18px;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: none;
    border-radius: 0px;
    width: 100%;
  }
}

.channel-main .channel-header .channel-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  position: relative;
  height: 90%;
  border: solid slategrey;
  background-color: white;
  width: 28%;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
  border: 1px solid #cecece;
  margin-right: 40px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info {
    width: 85%;
    height: 240px;
    margin-right: 0px;
    margin-top: 10px;
  }
}

.channel-main .channel-header .channel-info .channel-title {
  position: relative;
  font-size: 30px;
  margin-bottom: 10px;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-title {
    font-size: 18px;
    margin-bottom: 2px;
  }
}

.channel-main .channel-header .channel-info .channel-rating {
  margin-bottom: 20px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-rating {
    margin-bottom: 2px;
  }
}

.channel-main .channel-header .channel-info .channel-description {
  padding: 5px 40px 0px 40px;
  height: 50%;
  margin-bottom: 25px;
}

@media (max-width: 500px) {
  .channel-main .channel-header .channel-info .channel-description {
    font-size: 12px;
  }
}

.channel-main .channel-header img {
  height: 400px;
  width: auto;
  margin-right: 20px;
}

@media (max-width: 500px) {
  .channel-main .channel-header img {
    margin-right: 0px;
    height: auto;
    width: 100%;
  }
}

.channel-main .video-card {
  height: 280px;
  width: 85vw;
  border-bottom: solid lightgray;
  margin-bottom: 50px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  position: relative;
}

@media (max-width: 500px) {
  .channel-main .video-card {
    width: 95vw;
    height: 400px;
    flex-direction: column;
  }
}

.channel-main .video-card .video-play {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.channel-main .video-card .video-play .fa-youtube {
  position: absolute;
  font-size: 50px;
  color: red;
  cursor: pointer;
}

.channel-main .video-card .video-play .fa-youtube:hover {
  color: #d50202;
}

.channel-main .video-card .video-play img {
  border-radius: 6px;
  height: 250px;
  width: auto;
  cursor: pointer;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-play img {
    height: 200px;
  }
}

.channel-main .video-card .video-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 85%;
  padding-left: 40px;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info {
    padding-left: 0;
    margin-top: 5px;
  }
}

.channel-main .video-card .video-info h2 {
  margin: 0 auto;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info h2 {
    font-size: 19px;
  }
}

.channel-main .video-card .video-info h4 {
  align-content: left;
}

@media (max-width: 500px) {
  .channel-main .video-card .video-info h4 {
    font-size: 18px;
  }
}

.video-close {
  position: fixed;
  right: 90px;
  color: #b70202;
  font-size: 25px;
  font-family: "Noto Sans", sans-serif;
  z-index: 40;
  cursor: pointer;
  font-weight: bolder;
}

@media (max-width: 500px) {
  .video-close {
    font-size: 18px;
    top: 220px;
    right: 55px;
  }
}

.video-close:hover {
  color: #cb0202;
}

.ui {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ui iframe {
  position: fixed;
  margin-top: 250px;
  height: 70%;
  width: 70%;
  transform: translateX(-50%, -50%);
  box-shadow: 0px 0px 80px 500px rgba(31, 31, 31, 0.8);
}

@media (max-width: 500px) {
  .ui iframe {
    height: 200px;
    width: auto;
    box-shadow: 0px 0px 80px 2000px rgba(31, 31, 31, 0.8);
  }
}

.review-cards {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  position: absolute;
  height: 400px;
  right: 2%;
  width: 35%;
}

@media (max-width: 500px) {
  .review-cards {
    position: relative;
    width: 95vw;
    right: initial;
  }
}

.review-cards .review-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background-color: white;
  height: 150px;
  width: 90%;
  margin: 5px;
  border-radius: 6px;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06), 0 12.3px 7.9px rgba(0, 0, 0, 0.072), 0 8.8px 10.4px rgba(0, 0, 0, 0.086);
  border: 1px solid #cecece;
  padding: 6px;
  margin-top: 20px;
}

.review-cards .review-card .review-title {
  font-weight: bolder;
  font-size: 20px;
}

@media (max-width: 500px) {
  .review-cards .review-card .review-title {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .review-cards .review-card .review-description {
    font-size: 10px;
  }
}

.review-cards .paginate-reviews {
  position: relative;
  z-index: 4;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

@media (max-width: 500px) {
  .review-cards .paginate-reviews {
    right: initial;
    width: auto;
  }
}

.review-cards .paginate-reviews .pagination {
  position: relative;
}

@media (max-width: 500px) {
  .review-cards .paginate-reviews .pagination {
    position: relative;
    width: auto;
  }
}

.single-review button {
  font-family: "Noto Sans", sans-serif;
  font-size: 30px;
  border: none;
  border-bottom: 2px solid lightgray;
  border-top: 2px solid lightgray;
  background-color: transparent;
  height: 50px;
  width: 400px;
  margin-bottom: 30px;
}

@media (max-width: 500px) {
  .single-review button {
    font-size: 25px;
    width: 200px;
    border: solid 2px lightgray;
    border-radius: 10px;
  }
}

.single-review button:hover {
  background-color: #f3f3f3;
}

.spinner {
  min-height: calc(100vh - 247px);
}

.main-home header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 250px;
  background-color: #b70202;
}

.main-home header h1 {
  font-size: 40px;
  margin-top: 25px;
}

.main-home header .home-searchbar {
  position: relative;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.main-home header .home-searchbar .search-input {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 50px 4px 5px;
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  outline: none;
  width: 70%;
  height: 60px;
  font-size: 30px;
}

.main-home header .home-searchbar .search-btn {
  box-shadow: inset 0px 1px 0px 0px #f2f2f2;
  background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
  background-color: #e0e0e0;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid darkgray;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4.6px 20px;
  text-decoration: none;
  outline: none;
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
}

.main-home header .home-searchbar .phone-search {
  display: none;
}

.main-home .home-info {
  margin-top: 20px;
}

.main-home .home-info h1 {
  font-size: 40px;
  margin-bottom: 60px;
}

.main-home .recentActivity h1 {
  margin: 20px 0;
  font-size: 40px;
}

.main-home .recentActivity h2 {
  color: black;
}

.main-home .random-channel-holder .random-channel-card h2 {
  color: black;
}

.spinner {
  min-height: calc(100vh - 110px);
}

.main-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 247px);
}

.main-login hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b70202;
  margin: 1em 0;
  padding: 0;
  width: 300px;
}

.welcome-login {
  display: flex;
  font-size: 70px;
  color: #b70202;
  margin-bottom: 20px;
}

.login-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 400px;
}

.login-input input {
  background-color: #d0d0d0;
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.login-btn {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.login-btn button {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-width: 0;
  background-color: #b70202;
  font-weight: bolder;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #d0d0d0;
  outline: none;
}

.login-btn button:hover {
  color: #d0d0d0;
}

.nav-main {
  position: relative;
  width: 100vw;
  height: 10vh;
  top: 0px;
  background: #b70202;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 9999;
}

.nav-main .nav-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  width: 95%;
  height: 100%;
}

@media (max-width: 500px) {
  .nav-main .nav-nav {
    width: 95%;
    padding-left: 30px;
  }
}

.nav-main .nav-nav .logo {
  color: white;
  font-size: 24px;
  position: relative;
  z-index: 2;
}

.nav-main .nav-nav .yelp-logo {
  position: absolute;
  left: 44px;
  padding-bottom: 10px;
  font-size: 50px;
  color: black;
  top: 8px;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .yelp-logo {
    left: 24px;
  }
}

.nav-main .nav-nav .dropdown {
  position: relative;
  display: flex;
  flex-direction: column;
}

.nav-main .nav-nav .dropdown button {
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: none;
  outline: none;
}

.nav-main .nav-nav .dropdown button:hover {
  color: #d1d1d1;
}

.nav-main .nav-nav .dropdown button:active {
  top: 1px;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown button {
    font-size: 25px;
  }
}

.nav-main .nav-nav .dropdown .dropdown-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  height: 150px;
  width: 100px;
  position: absolute;
  align-items: center;
  margin-top: 62px;
  list-style: none;
  border: 1px solid darkgray;
  border-radius: 5px;
  transform: translateY(-10px);
  transition: all 0.4s ease;
  right: -15px;
}

.nav-main .nav-nav .dropdown .dropdown-box:active {
  transform: translateY(0px);
}

@media (max-width: 500px) {
  .nav-main .nav-nav .dropdown .dropdown-box {
    right: -19px;
    width: 75px;
  }
}

.nav-main .nav-nav .dropdown .dropdown-box li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  align-items: center;
}

.nav-main .nav-nav .dropdown .dropdown-box li .logout {
  cursor: pointer;
}

.nav-main .nav-nav .dropdown .dropdown-box li:hover {
  background-color: #eeeeee;
}

.nav-main .nav-nav .dropdown .dropdown-box .dropdown-btn {
  color: black;
  text-decoration: none;
  font-size: 16px;
  height: 33px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-main .nav-nav .search-input {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 50px 4px 5px;
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  outline: none;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .search-input {
    width: 150px;
  }
}

.nav-main .nav-nav .phone-search {
  display: none;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .phone-search {
    padding: 7px 5px;
    display: inline-block;
    box-shadow: inset 0px 1px 0px 0px #f2f2f2;
    background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
    background-color: #e0e0e0;
    border-radius: 0px 2px 2px 0px;
    border: 1px solid darkgray;
  }
}

.nav-main .nav-nav .search-btn {
  box-shadow: inset 0px 1px 0px 0px #f2f2f2;
  background: linear-gradient(to bottom, #e0e0e0 5%, #c7c7c7 100%);
  background-color: #e0e0e0;
  border-radius: 0px 2px 2px 0px;
  border: 1px solid darkgray;
  display: inline-block;
  cursor: pointer;
  color: #666666;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 4.6px 20px;
  text-decoration: none;
  outline: none;
}

@media (max-width: 500px) {
  .nav-main .nav-nav .search-btn {
    display: none;
  }
}

.nav-main .nav-nav .search-btn:hover {
  background: linear-gradient(to bottom, #c7c7c7 5%, #e0e0e0 100%);
  background-color: #e0e0e0;
}

.nav-main .nav-nav .search-btn:active {
  position: relative;
  top: 1px;
}

.addReview-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  min-height: calc(100vh - 247px);
}

.addReview-main .AR-stars {
  height: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.addReview-main input {
  width: 300px;
  height: 45px;
  margin-bottom: 25px;
  font-size: 30px;
  border-radius: 2px 0px 0px 2px;
  border: 1px solid darkgray;
  padding: 3px 50px 4px 5px;
  display: inline-block;
  box-shadow: inset 0px 1px 0px 0px #ffffff;
  outline: none;
}

.addReview-main .AR-genre-holder h1 {
  font-size: 20px;
}

.addReview-main .AR-genre-holder select {
  font-size: 16px;
  background-color: #d0d0d0;
  margin-left: 10px;
}

.addReview-main .AR-genre-holder select option {
  font-size: 12px;
  background-color: #d0d0d0;
}

.addReview-main .textarea-holders textarea {
  height: 250px;
  width: 355px;
}

.addReview-main .AR-submit-btn-holder button {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-width: 0;
  background-color: #b70202;
  font-weight: bolder;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #d0d0d0;
  outline: none;
}

.addReview-main .AR-submit-btn-holder button:hover {
  color: #d0d0d0;
}

.addReview-main .AR-reviews-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  position: relative;
  width: 90vw;
  margin-top: 25px;
  margin-bottom: 10px;
  border-top: 1px solid #b70202;
}

.addReview-main .AR-reviews-holder .AR-review-card {
  position: relative;
  padding: 5px;
  width: 325px;
  margin: 5px 5px;
  border-radius: 3px;
  box-shadow: 0px 0px 1px 1px #d0d0d0;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-user {
  position: absolute;
  top: 5px;
  left: 10px;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-rating {
  position: absolute;
  top: 5px;
  right: 10px;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review-title {
  margin-top: 25px;
  font-weight: bolder;
}

.addReview-main .AR-reviews-holder .AR-review-card .AR-review {
  margin-top: 5px;
}

.profile-main {
  min-height: calc(100vh - 235px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.profile-main h1 {
  font-size: 50px;
  margin: 0 5px 20px 5px;
}

.profile-main hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #b70202;
  margin: 2em 0;
  padding: 0;
  width: 300px;
}

.profile-info {
  position: relative;
  height: 250px;
  width: 375px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: center;
}

.profile-info input {
  background-color: #d0d0d0;
  margin-bottom: 10px;
  padding-left: 7px;
  border-width: 0px;
  border-radius: 3px;
  width: 300px;
  height: 30px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  outline: none;
}

.profile-info button {
  margin-top: 10px;
  width: 300px;
  height: 30px;
  border-width: 0;
  background-color: #b70202;
  font-weight: bolder;
  border-radius: 3px;
  box-shadow: 0px 2px 2px #d0d0d0;
  outline: none;
}

.profile-info button:hover {
  color: #d0d0d0;
}

.profile-info h5 {
  margin-bottom: 10px;
  border-width: 0px;
  border-radius: 3px;
  width: 300px;
  text-align: center;
  height: 35px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 1px 1px #00000040;
  display: flex;
  align-items: center;
  padding-left: 7px;
  font-size: 13px;
}

.pro-name-holder {
  position: absolute;
  top: 15px;
  right: 18px;
  width: 170px;
  height: 100px;
}

.pro-name-holder .profile-name {
  width: 150px;
}

.pro-pic-holder {
  height: 170px;
  width: 100px;
}

.pro-pic-holder .profile-pic {
  position: absolute;
  top: 0;
  left: 45px;
  height: 100px;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0px 1px 1px #00000040;
}

.aws-holder {
  position: absolute;
  top: 0;
  left: 45px;
}

.profile-pic-input {
  display: none;
}

.pro-name-input-holder {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 170px;
  height: 100px;
}

.pro-name-input-holder .pro-name-input {
  width: 150px;
}

.mappedReviews {
  width: 375px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.mappedReviews h1 {
  font-size: 30px;
}

.mappedReviews .pro-review-holder {
  width: 325px;
  margin: 5px 5px;
  border-radius: 3px;
  box-shadow: 1px 1px 1px 1px #00000040;
}

@media (min-width: 1000px) {
  .profile-main h1 {
    font-size: 75px;
  }
  .profile-main hr {
    width: 800px;
  }
  .profile-main .profile-info {
    width: 800px;
    height: 225px;
  }
  .profile-main .profile-info .profile-pic {
    width: 200px;
    height: 200px;
  }
  .profile-main .profile-info .pro-name-holder {
    position: absolute;
    top: 15px;
    right: 40%;
    width: 200px;
    height: 100px;
  }
  .profile-main .profile-info .pro-name-holder .profile-name {
    width: 200px;
  }
  .profile-main .profile-info .pro-info-holder {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 300px;
    height: 100px;
  }
  .pro-name-input-holder {
    position: absolute;
    top: 15px;
    right: 40%;
    width: 200px;
    height: 100px;
  }
  .pro-name-input-holder .pro-name-input {
    width: 200px;
  }
  .pro-info-input-holder {
    position: absolute;
    top: 15px;
    right: 0px;
    width: 300px;
    height: 100px;
  }
  .save-btn-holder {
    height: 100px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .mappedReviews {
    width: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin-bottom: 25px;
  }
  .mappedReviews .pro-review-holder {
    padding: 5px;
    width: 325px;
    margin: 5px 5px;
    border-radius: 3px;
    box-shadow: 0px 0px 1px 1px #d0d0d0;
  }
}

.search-main {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 247px);
}

.search-main .search-card {
  height: 200px;
  width: 85vw;
  border-bottom: solid lightgray;
  margin-bottom: 20px;
  font-family: "Noto Sans", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.search-main .search-card .search-img-body {
  position: relative;
  cursor: pointer;
}

.search-main .search-card .search-img-body .search-img {
  height: 150px;
  width: 150px;
  border-radius: 6px;
}

@media (max-width: 500px) {
  .search-main .search-card .search-img-body .search-img {
    height: 90px;
    width: 90px;
  }
}

.search-main .search-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 100%;
  width: 85%;
  padding-left: 40px;
}

@media (max-width: 500px) {
  .search-main .search-info-container {
    padding-left: 20px;
  }
}

.search-main .search-info-container .search-title {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .search-title {
    font-size: 18px;
  }
}

.search-main .search-info-container .react-stars {
  margin-top: -20px;
  outline: none;
  size: 20;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .react-stars {
    size: 15;
    margin-top: -10px;
  }
}

.search-main .search-info-container .search-description {
  text-align: left;
  cursor: pointer;
}

@media (max-width: 500px) {
  .search-main .search-info-container .search-description {
    font-size: 14px;
  }
}

.page-link {
  cursor: pointer;
}

.pagination > li > a:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a:hover {
  background-color: #b70202;
  border: solid 1px #b70202;
}

.pagination > li > a {
  color: black;
}

.pagination > .page-item.active > .page-link {
  z-index: 1;
  color: #fff;
  background-color: #b70202;
  border-color: #b70202;
}

.pagination > .page-item.active > .page-link:hover {
  filter: brightness(1.2);
}

.footer-body {
  width: 100vw;
  height: 125px;
  background-color: #b70202;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: "Noto Sans", sans-serif;
  padding-bottom: 3px;
}

.footer-body .fa-github {
  color: black;
}

.footer-body i {
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
  font-size: 20px;
}

.footer-body h6 {
  margin-top: 1px;
  margin-bottom: 15px;
  font-weight: lighter;
}

.check-out {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Aws {
  height: 115px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dropzone {
  width: 75px;
  height: 60px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 2px;
  border-color: #d0d0d0;
  margin-top: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}

.aws-text {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5px;
  margin-top: 5px;
}

.dropImg {
  height: 75px;
  width: 75px;
  border-radius: 3px;
}

@media (min-width: 1000px) {
  .Aws {
    height: 215px;
    width: 200px;
  }
  .dropImg {
    height: 190px;
    width: 190px;
  }
}

body {
  background-color: white;
  font-family: "Noto Sans", sans-serif;
}
/*# sourceMappingURL=main.css.map */